body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	//border: 5px solid red;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeSpeed;
}

.no-scroll {
	height: 100%;
	width: 100%;
	position: fixed;
	overflow: hidden;
}

.arrow-up__container {
	width: 50px;
	height: 50px;
	background: $contrast-color;
	position: fixed !important;
	z-index: 999 !important;
	border-radius: 50%;
	bottom: 20px;
	left: 20px;
}

.arrow-up {
	width: 15px;
	height: 15px;
	position: absolute;
	border-bottom: 3px solid $white-color;
	border-left: 3px solid $white-color;
	transform: rotate(135deg);
	bottom: calc(50% - 9px);
	left: calc(50% - 7px);
}

.overflow {
	overflow: hidden;
}