$contrast-color: #FE7012;
$black-color: #000;
$white-color: #fff;
$color-text: #7A7A7A;
$color-secondary: #54595F;
$color-placeholder: #979797;
$color-additional: #f5f6f6;
//$color-dark: #222931;
$color-dark: #303a45;

$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-smoll-width: 320px;

/* 
$color-gray-100: #f8f9fa;
$color-gray-200: #e9ecef;
$color-gray-300: #dee2e6;
$color-gray-400: #ced4da;
$color-gray-500: #adb5bd;
$color-gray-600: #6c757d;
$color-gray-700: #495057;
$color-gray-800: #343a40;
$color-gray-900: #212529;
 */