$contrast-color: #FE7012;
$black-color: #000;
$white-color: #fff;
$color-text: #7A7A7A;
$color-secondary: #54595F;
$color-additional: #f5f6f6;
$color-dark: #222931;

$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-smoll-width: 320px;