@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

html {
  font-size: 10px;
  line-height: 130%;
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  font-family: inherit;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  font-family: "Archivo", Verdana, sans-serif;
  letter-spacing: 0px;
  text-align: left;
  color: #7A7A7A;
  text-transform: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

h1 {
  color: #FE7012;
  font-family: "Hind", Sans-serif;
  font-size: 2.5rem;
  line-height: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
}

h2 {
  color: #292929;
  font-family: "Hind", Sans-serif;
  font-size: 2.5rem;
  line-height: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  margin: 30px auto 0;
  padding-bottom: 20px;
  text-align: center;
}

h3 {
  color: #FE7012;
  font-family: "Hind", Sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

h6 {
  font-family: "Hind", Sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
  margin: 10px 0;
}

p {
  text-align: left;
  color: #7A7A7A;
  font-family: "Open Sans", Sans-serif;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
}

.wrapper {
  position: relative;
  width: 100%;
}

.hidden {
  display: none;
}

.button {
  font-family: "Hind", Sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0.5px;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 13px 20px 10px 20px;
  border-radius: 3px;
}
.button:hover {
  transition: all 0.5s;
}

.button-dark {
  background-color: #303a45;
}
.button-dark:hover {
  background-color: #FE7012;
}

.button-colored {
  background-color: #FE7012;
}
.button-colored:hover {
  background-color: #303a45;
}

.button__container {
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow-x: hidden;
}

.no-scroll {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

.arrow-up__container {
  width: 50px;
  height: 50px;
  background: #FE7012;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 10%;
  left: 10%;
}

.arrow-up {
  width: 15px;
  height: 15px;
  position: absolute;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  transform: rotate(135deg);
  top: calc(50% - 7px);
  left: calc(50% - 7px);
}

header {
  font-family: "Hind", Sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  line-height: 1.6rem;
  width: 100%;
}

.site__header {
  position: absolute;
}

.header__content {
  position: relative;
  padding: 14px 0 14px 0;
  z-index: 20;
}

.row-3-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.header-row__container {
  position: relative;
}

.header-row {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 300vw;
  transition: left 0.7s ease-in;
}

.header-row-active {
  left: 0;
  background: #FE7012;
}

.header-row__element {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  display: none;
}

#header-row__button {
  text-align: right;
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-weight: 300;
  margin-top: 20px;
}

.inner-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  padding-left: 10%;
}

.velcom,
.mtc {
  position: relative;
}
.velcom::before,
.mtc::before {
  content: "";
  height: 25px;
  width: 15px;
  background-image: url("./asetss/icons/mobile-alt-svgrepo-com.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -1.5%;
  left: -25px;
}

.schedule {
  position: relative;
  row-gap: 4px;
  text-transform: lowercase;
  line-height: 130%;
  font-size: 1.4rem;
  justify-content: center;
}
.schedule::before {
  content: "";
  height: 25px;
  width: 25px;
  background: url("./asetss/icons/calendar-svgrepo-com.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 8px;
  left: 15%;
}

.header__button {
  width: 100%;
}

.tel {
  color: #303a45;
  font-weight: 600;
}

.logo-text {
  text-transform: none;
  display: block;
  text-align: center;
  color: #54595F;
  font-weight: 400;
}
.logo-text:first-child {
  font-weight: 500;
  padding-bottom: 10px;
}

.logo {
  display: flex;
  align-items: center;
  align-self: center;
}

.header-row-align {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
}

.navigation__content {
  background-color: #FE7012;
  padding: 20% 15%;
  position: relative;
}
.navigation__content::before, .navigation__content::after {
  position: absolute;
  top: 40px;
  right: 25px;
  content: "";
  height: 2px;
  width: 30px;
  background: #303a45;
}
.navigation__content::before {
  transform: rotate(45deg);
}
.navigation__content::after {
  transform: rotate(-45deg);
}

.menu {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  justify-content: space-between;
  text-transform: uppercase;
}
.menu li:first-child {
  background-color: #303a45;
}

.menu__element {
  color: #fff;
  padding: 15px 13px 14px 14px;
  font-family: Archivo, sans-serif;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 2px;
  cursor: pointer;
}
.menu__element:hover {
  background-color: #303a45;
  transition: all 1s;
}

.menu-link {
  color: #fff;
}

.hamburger-line {
  width: 36px;
  height: 3px;
  background: #fff;
  position: absolute;
  transform: rotate(0);
  border-radius: 2px;
  transition: all 0.5s ease-in;
  opacity: 1;
}
.hamburger-line:first-child {
  top: 0;
}
.hamburger-line:nth-child(2) {
  top: calc(50% - 1px - 1px);
}
.hamburger-line:last-child {
  bottom: 1px;
}

.hamburger-line-cross {
  transition: all 0.5s ease-in;
}
.hamburger-line-cross:first-child {
  transform: rotate(45deg);
  top: calc(50% - 1px - 1px);
}
.hamburger-line-cross:nth-child(2) {
  opacity: 0;
}
.hamburger-line-cross:last-child {
  transform: rotate(-45deg);
  bottom: calc(50% - 1px - 1px);
}

.hamburger {
  position: relative;
  width: 36px;
  height: 26px;
  top: calc(50% - 13px);
  margin-left: 18px;
}

.hamburger__menu__container {
  position: relative;
  height: 50px;
  width: 90%;
  background: #FE7012;
  margin: 20px auto;
}

.slider {
  z-index: 10;
  width: 100%;
  height: 100%;
  margin-top: 150px;
}

.slider-wrapper {
  width: 100%;
  height: 100%;
}

.slider__button {
  background: #979797;
  width: 40px;
  opacity: 0.5;
}
.slider__button:hover {
  background: #000;
}

.swiper-button-prev::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-top: 4px solid white;
  border-left: 4px solid white;
  transform: rotate(-45deg);
  left: 15px;
  top: 13px;
}

.swiper-button-next::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-top: 4px solid white;
  border-left: 4px solid white;
  transform: rotate(135deg);
  left: 5px;
  top: 13px;
}

.slider-img__container {
  text-align: center;
}

.swiper-img__container {
  max-height: 100vh;
}

.slider-img {
  margin: 0 auto;
}

.slider__wrapper {
  position: relative;
}

.separator {
  background-color: #f5f6f6;
  padding: 30px 20px;
  text-align: center;
}

.title__content {
  text-align: center;
  color: #303a45;
  font-family: "Hind", Sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
}

.purpose__title {
  color: #FE7012;
}

.purpose__text {
  padding-bottom: 20px;
  text-align: center;
  color: #303a45;
  line-height: 3rem;
}

.separator-smoll {
  color: #FE7012;
  font-family: "Hind", Sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 30px;
  text-align: center;
}

.separator-image__container {
  display: flex;
  justify-content: space-around;
}

.separator-big-image__elem {
  width: calc(20% - 10px);
}

.separator-smoll-image {
  width: 100%;
  display: flex;
}

.separator-smoll-image__elem {
  width: 11.1111111111%;
}

.separators__button {
  margin-top: 20px;
  letter-spacing: 2px;
}

.servises__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.servises__item {
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #54595F;
  text-align: justify;
  padding: 10px 0;
}

.layout-3-column {
  margin: 30px auto 20px auto;
  display: flex;
  flex-wrap: wrap;
}

.layout-3-column__content {
  margin: 0 auto;
  width: calc(30% - 10px);
}

.servises-images {
  margin: 0 auto;
}

.layout-3-item {
  text-align: center;
}

.servises__item__content {
  padding: 15px 15px;
  color: #303a45;
  font-weight: 600;
}

.servises__button {
  margin: 10px 20px 40px 20px;
}

.skills {
  background: url("../asetss/images/skills/_DSC3951.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 60px 0;
}
.skills::before {
  content: "";
  background-color: rgba(68, 81, 87, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.skills__title {
  width: 50%;
  line-height: 5rem;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.skills__content {
  max-width: 1200px;
}

.skills__item-text {
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  padding-bottom: 50px;
}

h3 {
  color: #FE7012;
}

.skills-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}

.skills__item {
  margin: auto;
  color: #fff;
}

.skills__item__inner {
  display: flex;
  position: relative;
  width: calc(50% - 10px);
}

.skills-svg {
  width: 60px;
  height: 60px;
  display: block;
  background-color: #FE7012;
  border-radius: 50%;
  align-self: center;
}

.skills__inner__title {
  font-weight: 500;
  padding-bottom: 15px;
}

.skills__inner__content__item {
  color: #fff;
  font-size: 1.4rem;
}

.skills__inner__content {
  padding: 20px 0 20px 20px;
  width: calc(100% - 60px);
}

.reward::before {
  content: " ";
  width: 30px;
  height: 30px;
  background-image: url("../asetss/icons/reward.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: calc(50% - 15px);
  left: 15px;
}

.schedule-skills::before {
  content: " ";
  width: 30px;
  height: 30px;
  background-image: url("../asetss/icons/schedule.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: calc(50% - 15px);
  left: 15px;
}

.briefcase::before {
  content: " ";
  width: 30px;
  height: 30px;
  background-image: url("../asetss/icons/briefcase.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: calc(50% - 15px);
  left: 15px;
}

.handshake::before {
  content: " ";
  width: 30px;
  height: 30px;
  background-image: url("../asetss/icons/Handshake.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: calc(50% - 15px);
  left: 15px;
}

.technic__title {
  text-align: center;
}

.technic__description {
  text-align: center;
  padding-bottom: 20px;
}

.technic__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.technic-image__container {
  width: calc(50% - 50px);
  margin: 0 auto;
}

.technic-img {
  width: 100%;
}

.specifications {
  text-align: left;
  color: #303a45;
  font-family: "Open Sans", Sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.643em;
  letter-spacing: 0px;
}

.specifications-text {
  display: block;
}

.technic__button {
  margin: 30px 20%;
}

.portfolio-image__container {
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolio-image {
  width: calc(33.33% - 20px);
}

.price {
  background-color: #303a45;
  color: #fff;
  padding: 20px 0 40px;
}

.price__title {
  color: #FE7012;
  font-weight: 500;
  letter-spacing: 2px;
}

.price-table {
  margin: 0 auto 30px;
}

th {
  padding: 15px;
  border: 2px solid #fff;
  letter-spacing: 1px;
}

td {
  border: 2px solid #fff;
  text-align: center;
}

.price-table {
  border-collapse: collapse;
}

.price-item {
  position: relative;
  padding: 10px 50px;
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: 1px;
}
.price-item::before {
  content: " ";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 14px;
  left: 30px;
}
.price-item:last-child::before {
  top: 20px;
}

.contacts-wrapper {
  padding: 0 20px;
  display: flex;
  margin: 40px auto;
  justify-content: space-around;
}

.column-title {
  color: #303a45;
  margin-bottom: 15px;
  position: relative;
}
.column-title::before {
  content: "";
  width: 20px;
  height: 4px;
  background-color: #FE7012;
  position: absolute;
  top: -15px;
}

.contacts-column {
  display: flex;
  flex-direction: column;
}
.contacts-column:first-child {
  max-width: 400px;
}
.contacts-column:last-child {
  max-width: 700px;
}

.contacts__item {
  font-weight: 400;
  line-height: 2.5rem;
}

.surname {
  padding-bottom: 10px;
  color: #54595F;
  font-weight: 600;
}

.miniarenda {
  margin-top: 30px;
  font-weight: 600;
}

label {
  font-family: "Hind", Sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #54595F;
  padding: 20px 0 5px;
}

input[type=text], input[type=tel], input[type=email], textarea {
  background-color: #f5f6f6;
  padding: 12px;
  border: none;
  resize: none;
}
input[type=text]::placeholder, input[type=tel]::placeholder, input[type=email]::placeholder, textarea::placeholder {
  color: #979797;
}
input[type=text]:focus, input[type=tel]:focus, input[type=email]:focus, textarea:focus {
  outline: none;
  background-color: #fff;
  border: 2px solid #979797;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form__button {
  width: 200px;
  margin-top: 50px;
}

.footer-bottom {
  background-color: #979797;
  color: #f5f6f6;
  font-size: 0.8rem;
  line-height: 2.3rem;
  text-align: center;
}

.footer-middle {
  background-color: #f5f6f6;
  font-size: 0.6rem;
  padding: 7px 20px;
}

.footer-middle-text {
  text-align: center;
}

h5 {
  color: #FE7012;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.footer-top {
  padding: 20px;
  display: flex;
}

.footer-top__column {
  width: 18%;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  font-family: "Archivo", Sans-serif;
  font-size: 1.5rem;
}
.footer-top__column:first-child {
  width: 30%;
}
.footer-top__column:last-child {
  width: 34%;
}

.footer-bottom-text {
  padding: 0 15px;
}

.footer-discribe {
  font-weight: 700;
}

.footer-top__column__item {
  line-height: 3rem;
}

.footer-img {
  margin-bottom: 15px;
}

.footer-tel {
  font-size: 3rem;
  font-weight: 900;
  line-height: 4.5rem;
}

/*# sourceMappingURL=style.css.map */
