.contacts-wrapper {
	padding: 0 20px;
	display: flex;
	margin: 20px auto;
	justify-content: space-around;
	flex-wrap: wrap;

	@include media-tablet {
		flex-wrap: nowrap;
	}
}

.column-title {
	color: $color-dark;
	margin: 15px;
	position: relative;
	text-align: left;

	&::before {
		content: "";
		width: 20px;
		height: 4px;
		background-color: $contrast-color;
		position: absolute;
		top: 0px;
	}
}

.contacts-column {
	display: flex;
	flex-direction: column;

	@include media-tablet {
		&:first-child {
			width: calc(35% - 10px);
		}

		&:last-child {
			width: 65%;
		}
	}

}

.contacts__item {
	font-weight: 400;
	font-size: 1.2rem;

	@include media-tablet {
		font-size: 1.4rem;
	}
}

.surname {
	padding-bottom: 10px;
	color: $color-secondary;
	font-weight: 600;
}

.miniarenda {
	margin-top: 10px;
	font-weight: 600;
}

label {
	font-family: "Hind", Sans-serif;
	font-size: 1.6rem;
	font-weight: 600;
	color: $color-secondary;
	padding: 20px 0 5px;
}

input[type=text],
input[type=tel],
input[type=email],
textarea {
	background-color: $color-additional;
	padding: 12px;
	border: none;
	resize: none;

	&::placeholder {
		color: $color-placeholder;
	}

	&:focus {
		outline: none;
		background-color: $white-color;
		border: 2px solid $color-placeholder;
		border-radius: 3px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}
}

.form__button {
	width: 200px;
	margin: 50px auto 20px;
}