.footer-bottom {
	background-color: $color-placeholder;
	color: $color-additional;
	font-size: 0.8rem;
	line-height: 2.3rem;
	text-align: center;
}

.footer-middle {
	background-color: $color-additional;
	font-size: 0.6rem;
	padding: 7px 20px;
}

.footer-middle-text {
	text-align: center;
	line-height: 110%;
}

h5 {
	color: $contrast-color;
	margin-bottom: 20px;
	font-size: 1.8rem;
}

.footer-top {
	display: flex;
	flex-wrap: wrap;
	column-gap: 10px;
	justify-content: space-between;
	padding: 0 10px;
}

.footer-top__column {
	margin-top: 40px;
	width: calc(50% - 10px);

	@include media-random(1000px) {
		padding-left: 30px;
		width: calc(25% - 10px);
	}

	display: flex;
	flex-direction: column;
	font-family: 'Source Sans Pro',
	sans-serif;
	font-size: 1.3rem;

	@include media-tablet {
		font-size: 1.6rem !important;
	}

	@include media-random(380px) {
		font-size: 1.2rem;
	}
}

.footer-bottom-text {
	padding: 0 15px;
}

.footer-discribe {
	font-weight: 700;
}

.footer-top__column__item {
	line-height: 150%;
	margin-bottom: 10px;
}

.before {
	position: relative;
	padding-left: 20px;

	&::before {
		position: absolute;
		content: '';
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background: $contrast-color;
		top: 8px;
		left: 0;
	}
}

.footer-img {
	margin-bottom: 15px;
}

.footer-tel {
	font-size: 1.6rem;
	font-weight: 900;
	margin: 15px 0;

	@include media-random(380px) {
		font-size: 1.4rem;
	}
}

.work-time {
	width: 45%;
	font-size: 1rem;
}