.footer-bottom{
	background-color: $color-placeholder;
	color: $color-additional;
	font-size: 0.8rem;
	line-height: 2.3rem;
	text-align: center;
}
.footer-middle{
	background-color: $color-additional;
	font-size: 0.6rem;
	padding: 7px 20px;
}
.footer-middle-text{
	text-align: center;
}
h5{
	color: $contrast-color;
	margin-bottom: 20px;
	font-size: 1.8rem;
}
.footer-top{
	padding: 20px;
	display: flex;
}
.footer-top__column{
	width: 18%;
	padding-left: 30px;
	display: flex;
	flex-direction: column;
	font-family: "Archivo", Sans-serif;
   font-size: 1.5rem;
	&:first-child{
		width: 30%;
	}
	&:last-child{
		width: 34%;
	}
}
.footer-bottom-text{
	padding: 0 15px;
}
.footer-discribe{
	font-weight: 700;
}
.footer-top__column__item{
	line-height: 3rem;
}
.footer-img{
	margin-bottom: 15px;
}
.footer-tel{
	font-size: 3rem;
	font-weight: 900;
	line-height: 4.5rem;
}