.hamburger-line {
	width: 36px;
	height: 3px;
	//padding: 20px;
	background: $white-color;
	position: absolute;
	transform: rotate(0);
	border-radius: 2px;
	transition: all 0.5s ease-in;
	opacity: 1;

	&:first-child {
		top: 0;
	}

	&:nth-child(2) {
		top: calc((50% - 1px) - 1px);

	}

	&:last-child {
		bottom: 1px;
	}
}

.hamburger-line-cross {
	transition: all 0.5s ease-in;

	&:first-child {
		transform: rotate(45deg);
		top: calc((50% - 1px) - 1px);

	}

	&:nth-child(2) {
		opacity: 0;
	}

	&:last-child {
		transform: rotate(-45deg);
		bottom: calc((50% - 1px) - 1px);
	}
}


.hamburger {
	position: relative;
	width: 36px;
	height: 26px;
	top: calc(50% - 13px);
	margin-left: 18px;
}

.hamburger__menu__container {
	position: relative;
	height: 50px;
	width: 100%;
	background: $contrast-color;
	margin: 20px auto;

	//border-radius: 30%;
	//margin-left: 8%;
	@include media-tablet {
		display: none;
	}
}