.navigation__content {
	background-color: $contrast-color;
	padding: 20% 15%;
	position: relative;

	@include media-tablet {
		margin-top: 15px;
		padding: 0;
	}

	&::before,
	&::after {
		position: absolute;
		top: 40px;
		right: 25px;
		content: "";
		height: 2px;
		width: 30px;
		background: $color-dark;

		@include media-tablet {
			display: none;
		}
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}


}

.menu {
	display: flex;

	@include media-tablet {
		flex-direction: row;
		margin: 0 15px;
	}

	flex-direction: column;
	margin-left: 15px;
	justify-content: space-between;
	text-transform: uppercase;

	& li:first-child {
		background-color: $color-dark;
	}
}

.menu__element {
	color: $white-color;
	padding: 15px 13px 14px 14px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
	line-height: 130%;
	letter-spacing: 2px;
	cursor: pointer;

	@include media-tablet {
		padding: 10px 3px;
		display: inline-block;
		letter-spacing: 1px;
	}

	@include media-1000 {
		padding: 10px 13px;
	}

	&:hover {
		background-color: $color-dark;
		transition: all 1s;
	}
}

.menu-link {
	color: $white-color;

	@include media-tablet {
		font-size: 1.3rem;
	}

	@include media-1000 {
		font-size: 1.4rem;
		font-weight: 600;
		letter-spacing: 2px;
	}
}