.separator{
	background-color: $color-additional;
	padding: 10px 0;
	text-align: center;
}

.title__content{
	text-align: center;
	color: $color-dark;
	font-family: "Hind", Sans-serif;
   font-size: 1.4rem;
   font-weight: 600;
}
.purpose__title{
	color: $contrast-color;
}
.purpose__text{
	padding-bottom: 20px;
	text-align: center;
	color: $color-dark;
	line-height: 3rem;
}
.separator-smoll{
	color: $contrast-color;
   font-family: "Hind", Sans-serif;
   font-size: 1.6rem;
   font-weight: 600;
	padding: 30px;
	text-align: center;
}
.separator-image__container{
	//width: 100vw;
	display: flex;
	justify-content: space-around;
}
.separator-big-image__elem{
	width: calc(20% - 10px);
}
.separator-smoll-image{
	width: 100%;
	display: flex;
	//flex-shrink: 1;
	//justify-content: space-around;
}
.separator-smoll-image__elem{
	display: block;
	flex-shrink: 1;
	}