.servises__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	//padding: 15px;
}

.servises__item {
	font-size: 1.5rem;
	line-height: 2.4rem;
	color: $color-secondary;
	text-align: justify;
	padding: 10px 0;
}

.layout-3-column {
	margin: 30px auto 20px auto;
	display: flex;
	flex-wrap: wrap;

}

.layout-3-column__content {
	margin: 0 auto;

	@include media-tablet {
		width: calc(50% - 30px);
	}

	@include media-random(1000px) {
		width: calc(30% - 10px);
	}


}

.servises-images {
	margin: 0 auto;
	//border: 2px solid $contrast-color;
}

.layout-3-item {
	text-align: center;
}

.servises__item__content {
	padding: 25px 15px 35px;
	color: $color-secondary;
	font-weight: 900;
	font-size: 1.6rem;
	text-transform: uppercase;
	line-height: 2.5rem;
}


.servises__button {
	margin: 10px 20px 40px 20px;

}