.skills {
	//background-color: $color-text;
	background: url("./asetss/images/skills/_DSC3951-2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	//padding: 60px 0;

	&::before {
		content: "";
		background-color: rgba($color: #445157, $alpha: 0.75);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		//z-index: 1;
	}
}

.skills__title {
	//width: 50%;
	line-height: 4rem;
	margin: 0 auto;
	text-align: center;
	color: $white-color;
	padding: 10px;
}

.skills__content {
	max-width: 1200px;
	//padding: 15px;
}

.skills__item-text {
	font-size: 1.6rem;
	color: $white-color;
	text-align: center;
	//padding: 30px;

	@include media-tablet {
		text-align: center;
		max-width: 711px;
		margin: 0 auto;
		line-height: 200%;
	}
}

h3 {
	color: $contrast-color;
}

.skills-grid {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	//align-items: center;
	margin: auto;
	//margin: auto;
}

.skills__item {
	margin: auto;
	color: $white-color;


}

.skills__item__inner {
	//border:  1px solid red;
	display: flex;
	position: relative;
	flex-direction: column;
	padding: 30px 15px;

	width: 100%;

	@include media-tablet {
		width: calc(50% - 10px);
	}
}

.skills-svg__container {
	width: 60px;
	height: 60px;
	display: block;
	background-color: $contrast-color;
	border-radius: 50%;
	align-self: center;
	margin: 10px 0;

	@include media-1000 {
		width: 90px;
		height: 90px;
	}
}

.skills-svg {
	position: relative;
	top: 15px;
	left: 15px;

	@include media-1000 {
		top: 30px;
		left: 30px;
	}
}

.caslendar {
	top: 17px;
	left: 17px;

	@include media-1000 {
		top: 32px;
		left: 32px;
	}
}

.skills__inner__title {
	font-weight: 500;
	padding-bottom: 15px;
}

.skills__inner__content__item {
	color: $white-color;
	font-size: 1.4rem;
	text-align: center;
}

.skills__inner__content {
	//padding: 20px;
	width: calc(100% - 60px);
	margin: 0 auto;
}