.slider {
	z-index: 10;
	width: 100vw;
	height: 100%;
	margin-top: 170px;

	@include media-tablet {
		margin-top: 0;
	}
}

.slider__container {}



.slider-wrapper {
	width: 100vw;
	height: 100%;
}



.slider-slide {}

.slider__button {
	background: $color-placeholder;
	width: 40px;
	opacity: 0;

	&:hover {
		background: $black-color;
	}

	@include media-tablet {
		opacity: 1;
	}
}

.swiper-button-prev {
	&::after {
		position: absolute;
		content: "";
		width: 20px;
		height: 20px;
		border-top: 4px solid white;
		border-left: 4px solid white;
		transform: rotate(-45deg);
		left: 15px;
		top: 13px;
	}
}

.swiper-button-next {
	&::after {
		position: absolute;
		content: "";
		width: 20px;
		height: 20px;
		border-top: 4px solid white;
		border-left: 4px solid white;
		transform: rotate(135deg);
		left: 5px;
		top: 13px;
	}
}

.slider-img__container {
	text-align: center;
	position: relative;
}

.slider-img {}

.swiper-img__container {
	max-height: 100vh;
	width: 100vw;
	text-align: center;
	position: relative;
}

.slider-img {
	margin: 0 auto;
	width: 100% !important;
}

.swiper-img {}

.slider__wrapper {
	position: relative;
}

.slider__text__container {
	position: absolute;
	left: 10%;
	bottom: 5%;
	padding: 10px 15px;
	width: 80%;
	background: rgba($white-color, $alpha: 0.8);
	opacity: 0;

	@include media-random(425px) {
		padding: 15px 20px;
		width: 70%;
		left: 15%;
	}

	@include media-tablet {
		padding: 20px 30px;
		width: 60%;
		left: 20% !important;
	}
}

.move {
	animation: moveMobile 1s ease-out forwards;

	@include media-tablet {
		animation: moveTablet 1s ease-out forwards;
	}
}

@keyframes moveMobile {
	from {
		bottom: 10%;
		opacity: 0;
	}

	to {
		bottom: 30%;
		opacity: 1;
	}
}

@keyframes moveTablet {
	from {
		bottom: 10%;
		opacity: 0;
	}

	to {
		bottom: 37%;
		opacity: 1;
	}
}

.slider__text__title {
	font-family: 'Source Sans Pro', sans-serif;
	color: $contrast-color;
	text-transform: uppercase;
	font-weight: 600;
	padding-bottom: 10px;
	text-align: center;
}

.slider__text {
	font-family: 'Source Sans Pro', sans-serif;
	color: $color-dark;
	//line-height: 180%;
}