.reviews__container {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4rem;
}

.star {
	position: relative;
	display: inline-block;
	width: 13px;

	&::before {
		position: absolute;
		content: " ";
		background: url("./asetss/icons/star.svg");
		background-size: contain;
		background-position: center;
		width: 15px;
		height: 15px;
		top: -15px;
		left: 0;
	}
}

.all-revie-item {

	color: $color-text;
	font-weight: 300;
}

.write-review__button {
	padding: 3px 12px;
	display: inline-block;
	font-weight: 300;

}

.review-top__content {
	display: flex;
	justify-content: space-between;
	padding: 15px 0;
	align-items: center;

	@include media-random(600px) {
		flex-direction: column;
		align-self: start;
		row-gap: 20px;
		padding: 0;
	}
}

.review__title {
	font-weight: normal;
	border-bottom: 2px solid $contrast-color;
	color: $contrast-color;

	@include media-random(600px) {
		display: inline-block;
	}
}

.sort__button {
	border: 1px solid $color-secondary;
	font-weight: 300;
	padding: 5px 20px;
	margin-bottom: 8px;
}

.sort__button__container {



	display: inline-block;

}

.Select {
	padding: 0 25px 0 10px;
	position: relative;

	&::after {
		position: absolute;
		content: url("../assets/svg/down-arrow.svg");
		right: 0;
		top: calc(50% - 9px);
	}
}

.list-categories {
	//margin-top: 5px;
	z-index: 500;
	position: absolute;
}

.list-category {

	font-weight: 300;
	font-size: 1.2rem;
	padding: 8px 25px 8px 40px;
	border: 1px solid rgba(42, 42, 42, 0.1);
	background-color: $white-color;
}

.user-review__container {
	display: flex;
	justify-content: space-between;
}



.long-review {
	font-weight: 400;
	font-size: 1.4rem;
	color: $color-text;
	text-align: justify;
}

.user-review-item {
	font-weight: 300;
	display: flex;
}

.review__main__container {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	padding-left: 30px;
	padding: 20px 0 20px 10px;
	//padding: 20px 0 20px 40px;
}

.user-letter {
	padding: 10px;
	border-radius: 50%;
	background: $contrast-color;
	color: $white-color;
	font-weight: normal;
	height: 45px;
	width: 45px;
	text-align: center;
	position: relative;


	&::after {
		position: absolute;
		content: url("../asetss/icons/checkmark-circle-green.svg");
		bottom: 0px;
		right: 0;
		background: $white-color;
		border-radius: 50%;
		width: 20px;
		height: 20px;
	}
}

.user-name {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
	font-weight: bold;
	color: $color-secondary;
	margin: auto 0;
}

.user-block {
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.review-date {
	@include media-random(600px) {
		display: none !important;
	}
}

.answer-date {
	@include media-random(600px) {
		display: none !important;
	}
}

.arrow-left {
	position: relative;
	font-size: 2rem;

	&::before {
		position: absolute;
		width: 5%;
		height: 100%;
		top: 0;
		left: -50px;
		content: "<";
	}
}

.arrow-right {
	position: relative;
	font-size: 2rem;

	&::before {
		top: 0;
		right: -50px;
		position: absolute;
		content: ">";
	}
}

.pagination__button {
	margin: 0 5px;
}

.pagination__container {
	display: flex;
	justify-content: center;
	color: $contrast-color;
}

.revie-text {
	padding: 0 10px;
	font-weight: normal;
}

.all-reviev__container {}